.oustpara {
  line-height: 30px;
  margin-top: 2rem;
  letter-spacing: 1px;
}
.roundedspan {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #1464f4;
  color: white;
  text-align: center;
  display: block;
  background-color: #2555a4;
}
.oneliner {
  margin-left: 3.75rem;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  /* line-height: 32px; */
}
.onelinerblpara {
  line-height: 28px;
  letter-spacing: 1px;
  margin-left: 5.8rem;
}
.rngcnt {
  background-color: #f3faff;
}
.completecycleheading {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 48px;
}
.box {
  position: relative;
  overflow: hidden;
}

.box:hover {
  transform: scale(1.05); /* Adjust the scale value as needed */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.roundedspan {
  /* ... Your existing styles ... */
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.box:hover .roundedspan {
  transform: scale(1.03); /* Adjust the scale value as needed */
}

.oneliner,
.onelinerblpara {
  transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.box:hover .oneliner,
.box:hover .onelinerblpara {
  transform: scale(1.1); /* Adjust the scale value as needed */
}

@media screen and (max-width: 767px) {
  .completecycleheading {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
  }
  .oustpara {
    line-height: normal;
    margin-top: 0rem;
    letter-spacing: normal;
    text-align: center;
  }
  .rngcnt {
    padding-top: 1.6rem;
    padding-bottom: 3.2rem;
  }
  .oneliner {
    margin-left: 0.75rem;
    font-weight: 600;
    font-size: 18px;
  }
  .onelinerblpara {
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-left: 2.8rem;
  }
  .box:hover,
  .box:hover .oneliner,
  .box:hover .onelinerblpara {
    transform: none; /* Remove the hover effect on mobile screens */
    transition: none; /* Remove the transition effect on mobile screens */
  }
}
